.sidebar {
    margin-top: 20px;
    width: 250px;
    height: calc(100% - 76px); /* Adjust according to your navbar height */
    overflow-y: auto;
    background-color: #f8f9fa; /* Light background color */
    padding: 15px;
  }
  